.tabs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.tabs__btn-row {
  display: flex;

}

.tabs__btn {
  border: solid 1px;
  border-radius: 15px;
  padding: .5rem;
  background: none;
  width: 10vw;
}
