.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.nav__title {
  font-size: 1.5rem;
}

.nav__tabs-container {
  display: flex;
  justify-content: space-between;

  width: 50vw;
}

.nav__tabs-btn {
  border: solid 1px;
  border-radius: 15px;
  padding: .5rem;
  background: none;
  width: 10vw;
}

